body {
    background-image: url("/Pasta-Imagens/wf-paint-5.jpg");
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

p {
    background: rgba(0, 0, 0, 0.75);
    font-size:2em;
    color: rgb(120, 44, 206);
    padding: 1em;
    border-radius: 0.5em;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

h2 {
    background: rgba(0, 0, 0, 0.75);
    font-size:1.3em;
    color: rgb(120, 44, 206);
    padding: 1em;
    border-radius: 0.5em;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

.imagemLink {
    font-size:1em;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 1em;
    border-radius:0.5em;

    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

th {
    
    background-color:rgba(13, 185, 228, 0.514);
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1.4em;

}


td{
    background-color: rgba(13, 185, 228, 0.26);
    color: #fff;
    font-size: 1.4em;
}

.imagemAll {
    width: 180px;
    text-align: left;
}