body {
    background-image: url("/Imagens/2037528.jpg");
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}



.titulo1 {
    color: rgb(151, 151, 151);
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}

.paragrafo-titulo1 {
    color: rgb(151, 151, 151);
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
}

.frase-apresentacao {
    display: block;
    background-color: rgb(238, 96, 103);
    color: aliceblue;
    text-align: center;;
    padding: 20px;
    margin-top: 60px;
    font-size: 18px;

}

.botao1 {
    background-color: rgb(238, 96, 103);
    border: 1px solid black;
    border-radius: 5px;
    color: whitesmoke;
    height: 30px;
    

    margin-top: 20px;
    margin-left: 45%;

}

.botao1:hover{
    background-color: rgb(220, 235, 156);
    color: rgb(41, 56, 10);
}

.botao2 {
    float: right;
    background-color: rgb(238, 96, 103);
    border: 1px solid black;
    border-radius: 5px;
    color: whitesmoke;
    height: 30px;
    
    margin-top: 20px;
    margin-right: 45%;
    

}

.botao2:hover{
    background-color: rgb(220, 235, 156);
    color: rgb(41, 56, 10);
}


.contato {
    color: whitesmoke;
    align-items: center;
    margin-top: 100px;
    
}


form {
    margin-left: 47%;
}

label {

    color: whitesmoke;
}